nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F2937;
  color: #F9FAF8;
}
.header{
  font-size: 24px;
  cursor: pointer;
  padding-left: 20px;
}
.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-size: 18px
}
.nav-links li {
  padding: 0px 10px;
}
.top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
}
.large-text{
  font-size: 40px;
  color: #F9FAF8
}
.left{
  flex-direction: column;
  display:flex;
  flex:1;
  max-width: 300px;
}
.small-text{
  color: #E5E7EB;
}
.sign-up-button{
  background-color: #3882F6;
  border-radius: 25px;
  max-width: 110px;
}
.toppish-section{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #dfe3ee
}
.large-box{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3882F6;
  border-radius: 5px;
}
.bottomish-left{
  align-items: center;
}
.bottomish-largetext{
  font-size: 18px;
  color: #F9FAF8;
}
.bottomish-smalltext{
  color: #F9FAF8;
}
.bottomish-button{
  background-color: #F9FAF8;
  border-radius: 25px;
  min-width: 100px;
}
.footer{
  display: flex;
  bottom: 0;
  width: 100%;
  background-color: #1F2937;
  justify-content: center;
  align-items: center;
}
.footer-text{
  color: #F9FAF8;
  font-size: 10px
}
